<!DOCTYPE html>
<html>
    <head>
        <title> 404 NOT FOUND </title>
        <link rel="icon" href="LOGO.png" type="image/png" sizes="16x16" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <style type="text/css">
           img{
               width:150px;
               height:150px;

           }    

           .jumptron{
               margin-top:100px;
           }
        </style>


    </head>

    <body>
        <div class="container">
           <div class="jumbotron text-center">
               <img src="https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW9ua2V5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="filter:blur(0) " />
               <h2> 404 NOT FOUND!</h2>
               <p> This page isn't available. Sorry about that.<br /> Try searching for something else.</p>
               <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">
                   <span class="glyphicon"> </span>
                   Home
               </a>
           </div>
        </div>

    </body>
</html>